* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Protest Riot";
}

body {
  background-color: #323232;
  color: #fff;
}

header nav {
  background-color: blueviolet;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

header nav h1 {
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header nav form {
  display: flex;
  justify-content: center;
}

form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

form input[type="text"],
button[type="submit"] {
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

form button[type="submit"] {
  background-color: violet;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: pink;
}

/* main section ,recipiecontainer */
.recipie-container {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-end: 4;
  grid-gap: 40px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  place-items: center;
}

.recipie {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(red, green, blue, alpha);
  cursor: pointer;
  max-width: 350px;
  padding: 10px;
}

.recipie img {
  height: 300px;
}

.recipie h3 {
  font-size: 24px;
  margin-block: 5px;
}

.recipie p {
  font-size: 20px;
  color: #323232;
  margin: 5px 0;
}

.recipie h3:hover {
  text-decoration: underline;
}
.recipie span {
  font-weight: 600;
}
.recipie button {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 18px auto;
  background-color: violet;
  border: none;
}

.recipie-details {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #323232;
  -webkit-transform: translate(-50%, -50%);
  border-radius: 12px;
  width: 40%;
  height: 60%;
  font-size: 20px;
  padding: 20px;
  overflow-y: scroll;
}
/* responsive code */
@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
  }
  header nav form {
    width: 80%;
    margin-top: 20px;
  }
}
